//
//@font-face {
//    font-family: 'bebas_neue_regularregular';
//    src: url('../fonts/bebasneueregular-webfont.woff2') format('woff2'),
//         url('../fonts/bebasneueregular-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'bebas_neuelight';
//    src: url('../fonts/bebasneuelight-webfont.woff2') format('woff2'),
//         url('../fonts/bebasneuelight-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//
//
//
//@font-face {
//    font-family: 'bebas_neuebook';
//    src: url('../fonts/bebasneuebook-webfont.woff2') format('woff2'),
//         url('../fonts/bebasneuebook-webfont.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//
//}
//



@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneuebold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneuebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebasneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}